#dropdown-menu-2btn-5 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-5 .navbar-brand a {
  font-size: 25px;
}
#dropdown-menu-2btn-5 .nav .link,
#dropdown-menu-2btn-5 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-5 .navbar,
#dropdown-menu-2btn-5 .dropdown-menu {
  background: #8ac485;
}
#dropdown-menu-2btn-5 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-5 .dropdown-menu a:hover,
#dropdown-menu-2btn-5 .dropdown-menu a:focus {
  background: #7dbd77;
}
#dropdown-menu-2btn-5 .navbar-toggler {
  color: #ffffff;
}
#slider-8 P {
  text-align: left;
  font-size: 25px;
}
#slider-8 H1 {
  font-size: 60px;
}
#slider-8 SPAN {
  font-size: 60px;
}
#features1-9 .mbr-section__col .mbr-header__text {
  color: #2c82c9;
}
#features1-9 .mbr-section-title .mbr-header__text {
  color: #252525;
  font-size: 32px;
}
#features1-e P {
  color: #ffffff;
  font-size: 15px;
  text-align: left;
}
#features1-e .mbr-section-title .mbr-header__text {
  color: #4c6972;
  font-size: 36px;
}
#features1-e .mbr-section__col .mbr-header__text {
  color: #4c6972;
}
#form1-a .mbr-header__text {
  color: #ffffff;
  text-align: center;
  font-size: 30px;
}
